*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background:
    
    linear-gradient(
      120deg,
      #451777 0%,
      #1b4ea7 100%
    );
  background-blend-mode: overlay, lighten, normal;
  background-size: cover, cover, 100px 100px;
  background-repeat: no-repeat, no-repeat, no-repeat; 
  background-position: center, center, right;
  color: #fff;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}